<div class="contents  clearfix">
    <article class="section_left">
      <div class="left_content">
        <header class="header header--section">
          <h2 class="text-middle">
            <i class="icon-movie color-gray-light"> <strong>東横線一覧</strong></i>
          </h2>
        </header>
          <div class="station_list">
          <ul>
            <li>
            <img src="http://blogs.c.yimg.jp/res/blog-d6-7a/kabuki7600/folder/170478/09/9213909/img_0?1366929963" alt="東横線" class="list_image">
          </li>
            <% @stations.each do |stati| %>
            <li>
              <a href="/station/<%= stati.id%>"><img src="<%= stati.station_image1 %>" alt="<%= stati.station%>" class="list_image"></a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </article>

  <article class="section_right">
      <div class="right_content">
        <header class="header header--section">
          <h2 class="text-middle">
            <i class="icon-movie color-gray-light"> <strong>総合ランキング</strong></i>
          </h2>
        </header>
        <div class="ranking_all">
          <ul>
            <% @restaurants.each.with_index(1) do |restaurant, i| %>
              <div class="box">
                <li>
                  <a href= "<%= restaurant.rst_url %>">
                    <span class="title_box">
                     No<%= i %> : <%= restaurant.rstname %>
                     </span>
                    <div class="content_box">
                      <img src="<%= restaurant.image_url %>" alt="画像サンプル">
                    </div>
                  </a>
                </li>
              </div>
            <% end %>
          </ul>

      </div>
  </article>

</div>