  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="fa fa-train"></i>
                  お店の検索
                </h2>
              </header>
              <%= form_tag('/search', method: :get) do |f| %>
                駅で検索&nbsp;&nbsp;<%= select :restaurant, :station, @stations,  :prompt => "選択してください" %>
                &nbsp;&nbsp;
                値段で検索&nbsp;&nbsp;<%= select :restaurant, :price_dinner, [[" ～￥999"," ～￥999"], ["￥1,000～￥1,999", "￥1,000～￥1,999"], ["￥2,000～￥2,999", "￥2,000～￥2,999"], ["￥3,000～￥3,999", "￥3,000～￥3,999"], ["￥4,000～￥4,999", "￥4,000～￥4,999"]],  :prompt => "選択してください" %><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
                <% end %>
             <!--  <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form> -->
            </div>
          </article>
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="fa fa-train"></i>検索結果
                </h2>
              </header>
              <ul class="listview js-lazy-load-images">
                <% @restaurants.each do |restaurant| %>
                <li style="border-bottom: dotted 1px" class="box_ranking">
                <div class="center_box_ranking">
                  <img src="<%= restaurant.image_url %>" alt="<%= restaurant.rstname %>" >
                </div>
                <div class="right_box_ranking_search">
                  <p>
                    店名: <span class="rstname_search"><%= restaurant.rstname %></span>
                  </p>
                  <!-- <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= restaurant.score.round %>"></i></span> -->
                  <p class="score_restaurant">
                    お店の評価 : <%= restaurant.score %>
                    <span>最寄り駅 :  <%= restaurant.station.station %></span>
                  </p>
                  </p>
                  <p class="budget">
                    夜:<%= restaurant.price_dinner %> 昼:<%= restaurant.price_lunch %>
                  </p>
                  <p>
                  <a href="<%= restaurant.rst_url %>" target="_blank">ホームページ</a>

                </div>
                </li>
                <% end %>
              </ul>
              <div class="paging">
                <%= paginate(@restaurants) %>
              </div>
            </div>
          </article>
        </div>
        <div id="yjSub">